.event-card { 
  transition: all 0.3s ease; 
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(26, 41, 22, 0.15);
}

.event-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.18) !important;
}